*{
    padding: 0;
    margin: 0;
    
}
body{
    background: linear-gradient(200deg, #000000 1%, #000000 99%);;
}
.mcontainer{
    padding: 0px 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff; 
}
.logotipoHeader img {
    max-height: 60px; 
    margin-left: 50px;
}
.linkHeader ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.linkHeader ul li {
    display: inline;
    margin-right: 50px;
}

.linkHeader ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
h1{
    color: #ffffff;
}
hr{
    height: 4px;
    background-color: #ffffff;
}
.detalhes_album img {
    max-width:400px;
    height: auto;
}
.fotos img {
    max-width: 365px;
    height: auto;
}
.fotos p {
    max-width: 365px;
}